.home-cont {
  background-image: url("../../images/home-hero.jpg");
  background-size: cover;
  background-position: 50%;
  height: 70vh;
  flex: 75%;
}

.home-text-cont {
  padding: 5rem 0.5rem;
  background-color: #f1dcab;
}

.home-btn {
  background-color: #e7b790;
}
