.recipe-card {
  background-color: #e7b790;
}

.recipe-card img {
  height: 186.4px !important;
}

.recipe-card-icon {
  position: absolute !important;
  top: -10% !important;
  left: -4%;
  border: 5px;
  border-color: black;
}

.recipe-card-icon path {
  fill: transparent;
  stroke: black;
}

.recipe-card-text-cont {
  background-color: #f1dcab;
  height: 186.4px;
}

.ingredients-cont {
  height: 100px;
  overflow-y: clip;
}

.tablet-title {
  display: none;
}

.mobile-title {
  display: none;
}

.edit-btn-2 {
  top: 8% !important;
  right: -4.5% !important;
}

.delete-btn-2 {
  top: 14% !important;
}

.text-center-tablet {
  display: none;
}

@media (max-width: 1199px) {
  .text-center-desktop {
    display: none;
  }

  .text-center-tablet {
    display: inline;
    text-align: center !important;
  }
}

@media (max-width: 991px) {
  .recipe-card-img {
    width: 156.3px !important;
  }
  .recipe-card-text-cont {
    width: 444.9px;
  }

  .recipe-card-text-cont h2 {
    font-size: 25px;
  }
}

@media (min-width: 1400px) {
  .recipe-card-icon {
    top: -7% !important;
  }
}

@media (max-width: 1199px) {
  .tablet-title {
    display: block;
  }

  .desktop-title {
    display: none;
  }
}

@media (min-width: 992px) {
  .recipe-card-icon {
    left: -2.3%;
  }

  .recipe-card-text-cont {
    width: 100%;
  }
}

@media (max-width: 767px) {
  .recipe-card {
    gap: 1rem !important;
    padding: 0.5rem 0.5rem !important;
  }

  .ingredients-cont {
    display: none;
  }

  .recipe-card-text-cont {
    height: 131.4px !important;
  }

  .recipe-card-img {
    width: 117.3px !important;
  }

  .recipe-card img {
    height: 131.4px !important;
  }

  .tablet-title {
    display: none;
  }

  .mobile-title {
    display: block;
  }

  .edit-btn-2 {
    top: 15% !important;
  }
}

@media (min-width: 767px) {
  .recipe-card a {
    width: 25% !important;
  }
}
