.recipe-card {
  background-color: #e7b790;
}

.recipe-card-icon {
  position: absolute !important;
  top: -10% !important;
  left: -4%;
  border: 5px;
  border-color: black;
}

.recipe-card-icon path {
  fill: transparent;
  stroke: black;
}

.recipe-card-text-cont {
  background-color: #f1dcab;
}

@media (min-width: 992px) {
  .recipe-card-text-cont {
    width: 100%;
  }
}

@media (min-width: 767px) {
  .recipe-card a {
    width: 25% !important;
  }
}
