.recipe-page-cont {
  margin-top: -45px;
}
.recipe-main-page-cont {
  height: 65vh;
}
.recipe-header {
  background-color: #e7b790;
}

.ingredients-cont {
  background-color: #f1dcab;
}

.directions-cont {
  background-color: #f1dcab;
}
