.title-cont {
  background-color: #dae1b6;
}

.w-95 {
  width: 95%;
}

.username-link:hover {
  transition: 0.2s;
  color: blue !important;
}

@media (max-width: 767px) {
  .title-cont {
    display: flex;
    gap: 0rem;
    background-color: #abceab;
    justify-content: space-evenly;
  }
}
