.user-page-list-cont {
  max-height: 566px;
  overflow-y: scroll;
  scrollbar-width: thin;
}

.user-page-list {
  max-height: 281.8px;
  overflow-y: scroll;
  scrollbar-width: thin;
}

.user-main-info-username {
  background-color: #dae1b6;
}

.user-main-info-user {
  background-color: #f1dcab;
}

/* @media(){

} */
