.user-fav-img {
  max-height: 186px;
}
.user-favorite-text-cont {
  height: 100px;
  overflow-y: clip;
}

.fav-card-icon {
  position: absolute !important;
  top: -10% !important;
  left: -4%;
  border: 5px;
  border-color: black;
}

.text-center-tablet {
  display: none;
}

@media (max-width: 1399px) {
  .text-center-desktop {
    display: none;
  }

  .text-center-tablet {
    display: inline;
  }
}

@media (max-width: 767px) {
  .text-center-tablet {
    display: none;
  }
}
