.user-recipe-title {
  max-width: 116px;
}

.del-btn {
  position: absolute;
  top: -10%;
  right: -5%;
  background-color: #e64040;
}

.edit-btn {
  position: absolute;
  top: 25%;
  right: -5%;
  background-color: #405ee6;
}
