.user-page-list-cont {
  max-height: 566px;
  overflow-y: scroll;
  scrollbar-width: thin;
}

.user-page-list {
  max-height: 281.8px;
  overflow-y: scroll;
  scrollbar-width: thin;
}

.user-main-info-username {
  background-color: #dae1b6;
}

.user-main-info-user {
  background-color: #f1dcab;
}

@media (max-width: 991px) {
  .user-main-info-cont {
    width: 40% !important;
  }
  .user-main-favorite-info-cont {
    width: 57.5% !important;
  }
}

@media (max-width: 767px) {
  .user-page-cont {
    flex-direction: column;
  }
  .user-main-info-cont {
    width: 100% !important;
  }

  .user-main-info-username,
  .user-main-info-user h2,
  .add-recipe-btn,
  .view-btn {
    font-weight: 700;
  }

  .add-recipe-btn,
  .view-btn {
    padding: 0.5rem;
  }

  .view-btn {
    margin-top: -2%;
  }

  .user-main-info-user {
    font-weight: 700;
    padding-top: 1rem;
  }

  .user-main-favorite-info-cont {
    width: 100% !important;
  }
}
